#shop-items-container{
    display: grid;
    justify-content: center;
    margin: 30px 20px;
    padding: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: dense;
    gap: 20px;
}

.shop-item{
    display: grid;
    padding: 4px;
    border: 1px solid var(--colour-border);
    border-radius: 5px;
    background-color: var(--colour-surface);
    text-align: center;
    grid-template-columns: 100px 1fr 120px;
    grid-template-rows: auto auto auto;    
    grid-template-areas: 
    "image title title"
    "image price ."
    "image . button";
}

.shop-item-image{
    width: 100px;
    height: auto;
    justify-self: left;
    align-self: center;
    grid-area: image;
    object-fit: cover;
    aspect-ratio: 3/2;
}

.shop-item-title{
    text-align: left;
    font-weight: bold;
    margin-left: 10px;
    grid-area: title;
    font-size: 1em;
}

.shop-item-price{
    font-size: 0.8em;
    text-align: left;
    margin-left: 10px;
    grid-area: price;
}

.shop-item-button{
    color: var(--colour-text);
    border: 1px solid var(--colour-border);
    width: 90px;
    height: 30px;
    margin-right: 20px;
    border-radius:40%;
    grid-area: button;
    justify-self: right;
    background-color: transparent;
}

.shop-item-button:hover{
    border: 1px solid var(--colour-border-change);
    cursor: pointer;
}

.shop-quantity-controls{
    color: var(--colour-text);
    grid-area: button;
    height: 30px;
    margin-right: 20px;
    width: 100px;
    justify-self: right;
}

.shop-quantity-controls > button{
    background-color: transparent;
    color: var(--colour-text);
    border: 1px solid var(--colour-border);
}

.shop-quantity-controls > button:hover{
    border: 1px solid var(--colour-border-change);
    cursor: pointer;
}

.shop-minus-button{
    height: 100%;
    width: 30px;
}

.shop-quantity-value{
    height: 100%;
    width: 30px;
    padding: 5px;
    border-top: 1px solid var(--colour-border);
    border-bottom: 1px solid var(--colour-border);
}

.shop-add-button{
    height: 100%;
    width: 30px;
}

@media (max-width: 1500px) {
  #shop-items-container{
    grid-template-columns: repeat(3, 1fr);
  }
}


@media (max-width: 900px) {
  #shop-items-container{
    grid-template-columns: repeat(2, 1fr);
  }
}